body{
    background: white;
    margin-left: 2%;
}

h1
{
    font-size: 1.5rem;
    text-align: center;
}
header
{
    margin-bottom: 20px;
}
.header-logo
{
    display: flex;
    justify-content: space-around;
    
    
}
.btn-retour
{
   display: none;
}
img{
    height: 30px;
    width: 150px;
}
.nav
{
    background-color: #EEEAE9 ;
    border: 1px solid #EEEAE9 ;
    height: 250px;
}
.icone-saisie
{
    text-align: center;
    background-color: #DBD6D5;
    border:solid 1px #DBD6D5;
}


#townsearch
{
    border:none;
    background-color:transparent;
}

.btn-explorer
{
    border-radius: 20px;
    background-color: #AD77C8;
    color: white;
    text-align: center;
    padding: 0.5rem;
    margin-left: 60px;
}
h2
{
    margin-left: 20px;
    font-size: 1rem;
}
.btn-fct
{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: grey;
    width: 250px;
    height: 30px;
    margin-top: 10px;
    padding-left: 0px;
    margin-left: 40px;
    padding-top: 10px;
}


@media only screen and (max-width: 510px)
{
    .btn-retour
    {
        padding-left: 20px;
        padding-right: 30px;

    }

    .nav
    {
        height: 200px;
    }
    h1
{
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
    .decouvre
    {
        padding-left: 30px;
    }

    .selection
    {
        padding-left: 70px;
    }
    
}