@font-face{
  font-family:"Shrikhand";
  src: url("/font/Shrikhand-Regular.otf") format("OpenType")
}
@font-face{
  font-family:"Robot-black";
  src: url("/font/Robot-black.ttf") format("truetype")
}
body {

  font-family:"Robot-black",arial,serif,sans-serif;
}

h1,h2,h3{
margin-left: 4%;
font-family:"Shrikhand",arial,serif,sans-serif;
font-size: 1em;
padding-top: 15px;
}

header {
background-color: white;
}


.header-logo {
display: flex;
justify-content: space-around;
}

.btn-retour-accueil {
padding-top: 10px;
padding-left: 10px;
}
.img-logo{    display: block;
margin-right: auto;
margin-left: auto;
}



.logo-food{
height: 30px;
width: 150px;
}

.photo-plat-restau{
  height: 300px;
  width: 330px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.menu-D{

  justify-content:space-between ;
  background-color:#EEEAE9; 
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: auto;
  position: relative;
  bottom: 120px;
}

.nom-restau-heart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-heart{
  padding-top: 25px;
  padding-right: 200px;
}

.fiche-entree{
animation: fadeandscale 2s ease-in-out;
animation-delay: -1s;
transform-origin: top;
}
.fiche-plat{
animation: fadeandscale 2s ease-in-out;
animation-delay: -.8s;
transform-origin: top;

}

.fiche-dessert{
animation: fadeandscale 2s ease-in-out;
animation-delay: -.6s;
transform-origin: top;
}



@keyframes fadeandscale{
0%{
  opacity: 0;
  transform: scale3d(.75,.75,1);
}
100%{
  opacity: 1;
  transform: scale3d(1,1,1);
}
}
.conteneur-cadre-repas{
  
border-radius: 10px;
background-color:white;
width: 340px;
height: 50px;
margin-top: 10px;
padding-left: 5px;
padding-top: 5px;
margin-right: auto;
margin-left: auto;
display: flex;
overflow: hidden;
cursor: pointer;
}
.cadre-repas{
display: flex;
width: 100%;
flex-direction: column;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;

}

.cadre-plat-princpal{
font-weight: bold;
display: inline-block;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;

}


.cadre-accompagnement{
display: inline-block;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
padding-top: 5px;

}

.cadre-prix{

display: flex;
align-items: flex-end;
padding-bottom: 5px;
padding-right: 5px;
}

.cadre-validation-entre{
width: 0%;
transition: width 1s;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
color: #99E2D0;
background-color: #99E2D0;
border-radius: 0 10px 10px 0;
}
.fa-check-circle{
transition: transform 2s;
transform: rotate(0);
background-color: white;
}
.conteneur-cadre-repas:hover .cadre-validation-entre {
width: 30%;

}

.conteneur-cadre-repas:hover .fa-check-circle{
transform: rotate(360deg);
}

.bouton-de-commande{

margin-top: 30px;
margin-right: 40%;
margin-left: 40%;
padding-bottom: 30px;
cursor: pointer;
}
.btn-cde{
border-radius: 20px;
color: white;
border-color: transparent;
text-align: center;
box-shadow:2px 1px 1px grey ;
padding: 0.5rem;
margin-right: auto;
margin-left: auto;
display: block;
background: linear-gradient(to bottom right, #ff79da, #9356dc);
transition: background 400ms linear;
}

.btn-cde:hover{
background:linear-gradient(to bottom rIght,#ffa4df,#9549f1 );
box-shadow:4px 2px 2px grey ;

}




.endtext{
  border:1px solid #F2F2F2;
  background-color: black;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  color: white;
}
.propo-restau,.partenaire,.memtion,.contact{
  padding-top: 30px;
}
.contact{
  padding-right: 20px;
  color: white;
}


@media only screen and (max-width: 630px){
  body{
  background-color: #EEEAE9;
}

  .fa-heart{
      
      padding-right: 50px;
  }

  .bouton-de-commande{
      margin-right: 35%;
      margin-left: 35%;
      padding-bottom: 20px;
  }
  .endtext{
      flex-direction: column;
     
    }
    .propo-restau,.partenaire,.memtion,.contact{
      padding-top: 10px;
      padding-left: 20px;
    }
}