@font-face{
    font-family:"Shrikhand";
    src: url("/font/Shrikhand-Regular.otf") format("OpenType")
  }
@font-face{
    font-family:"Robot-black";
    src: url("/font/Robot-black.ttf") format("truetype")
}
  body {
    margin-left: 2%;
    font-family:"Robot-black",arial,serif,sans-serif;
  }

h1,h2,h3{
    margin-left: 4%;
    font-family:"Shrikhand",arial,serif,sans-serif;
}
}
header {
  margin-bottom: 20px;
}

.header-logo {
  display: flex;
  justify-content: space-around;
}

.btn-retour {
  
}
.img-logo{    display: block;
  margin-right: auto;
  margin-left: auto;
}
  


.logo-food{
  height: 30px;
  width: 150px;
}
.photo-arrière-plan{

}
.menu-C{

    justify-content:space-between ;
    background-color:#EEEAE9; 
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: auto;
}

.nom-heart{
    display: flex;
    justify-content: space-between;
   
}
.fa-heart{
    padding-top: 25px;
    padding-right: 200px;
}

.cadre-repas{
    
    border-radius: 10px;
    background-color:white;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 5px;
}

.prix{
    float: right;
}

.plat-princpal{
    font-weight: bolder;
}
.bouton-de-commande{

    margin-top: 30px;
    margin-right: 40%;
    margin-left: 40%;
    padding-bottom: 30px;
}
.btn-cde{
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background: rgb(255,121,196);
    background: linear-gradient(162deg, rgba(255,121,196,0.9836309523809523) 1%, rgba(147,86,220,1) 35%);
}
.endtext{
    border:1px solid #F2F2F2;
    background-color: black;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    color: white;
  }
  .propo-restau,.partenaire,.memtion,.contact{
    padding-top: 20px;
  }
  .contact{
    padding-right: 20px;
    color: white;
  }


@media only screen and (max-width: 630px){
    

    .fa-heart{
        
        padding-right: 50px;
    }

    .bouton-de-commande{
        margin-right: 35%;
        margin-left: 35%;
        padding-bottom: 20px;
    }
    .endtext{
        flex-direction: column;
       
      }
      .propo-restau,.partenaire,.memtion,.contact{
        padding-top: 10px;
        padding-left: 20px;
      }
}