@font-face{
  font-family:Shrikhand;
  src: url("/font/Shrikhand-Regular.otf") format("OpenType")
}
@font-face{
  font-family:"Robot-black";
  src: url("/font/Robot-black.ttf") format("truetype")
}

body {
  background: white;
  font-family:"Robot-black",arial,serif,sans-serif;
}
  
.loader{
  position: relative;
  font-size: 50px;
  color: black;
  text-align: center;
  
  
}
.loader-page{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #9356DC;
  animation: loader-page-end;
  animation-duration: 2s;
  visibility: visible;
  animation-fill-mode: forwards;
 
}

@keyframes loader-page-end{
 0%{
  opacity: 1;
}


  100%{
    opacity: 0;
  }
 }
  

a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  font-family:"Shrikhand",arial,serif,sans-serif;
}

header {
  margin-bottom: 20px;
}

.header-logo {
  display: flex;
  justify-content: space-around;
}

.header-btn-retour {
  display: none;
}
.header-img-logo{
  padding-right: 40px;
}

.logo-food{
  height: 30px;
  width: 150px;
}

 


.presentation {
  background-color: #EEEAE9;
  border: 1px solid #EEEAE9;
  height: 250px;
}

.presentation-icone-saisie {
  text-align: center;
  background-color: #DBD6D5;
  border: solid 1px #DBD6D5;
}

#townsearch {
  border: none;
  background-color: transparent;
}

.presentation-recherche{
  text-align: center;
}

.presentation-btn-explorer {
  border-radius: 20px;
  background: linear-gradient(162deg, rgba(147,86,220,1) 5%, rgba(255,121,218,1) 63%);
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.operation{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2,h3 {

  margin-left: 30px;
  font-size: 1rem;
  padding-top: 20px;
  font-family:"Shrikhand",arial,serif,sans-serif;
}


.btn-fct
{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color:#DBD6D5;
    width: 250px;
    height: 30px;
    margin-top: 10px;
    padding-left: 0px;
    margin-left: 40px;
    padding-top: 10px;
}
  .btn-fct-logo-texte
  {
    display: flex;
    width: 90%;
    justify-content: space-around;

  }
  .btn-fct-numer
  {
    border: 1px solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    position: relative;
    right: 10px;
    background-color:#9356DC  ;
    color: white;
}

  .fa-mobile-alt,.fa-list-ul
  {
    color:gray;
  }
  .fa-store
  {
    color: #9356DC ;
  }
  .restaurant{
    background-color:#DBD6D5;
    height: auto;
  }

  .choix-restau{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .carte-restau{
     
    background-color: white;
    height: 150px;
    width: 200px;
    border-radius:  20px 20px ;
    padding-bottom: 3em;
    border: 1px solid #ddd;
    box-shadow: 0 6px 6px #ddd ;
    object-fit: cover;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
  }
  .restau-photo{
    height: 150px;
    width: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
  }
  .nom-restau{
    display: flex;
    justify-content: space-around;
    
  }
 
  .ville-restau{
    padding-left: 25px;
  }

  .ville-restau-cite-rouge{
    padding-left: 30px;
  }
  .new-restau{
    border: 1px solid #99E2D0 ;
    border-radius: 5px;
    background-color:#99E2D0 ;
    width: 80px;
    position: relative;
    right: -100px;
    top: -120%;
    color: green;
    text-align: center;
  }
  
  .endtext{
    border:1px solid #F2F2F2;
    background-color: black;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    color: white;
  }
  .endtext-propo-restau,.endtext-partenaire,.endtext-memtion,.endtext-contact{
    padding-top: 35px;
  }
  .endtext-contact{
    padding-right: 20px;
    color: white;
  }
  /*--
  @media only screen and (min-width:622px) and (max-width:1220px){
    .carte-restau{
      margin-left:10%;
      margin-right: 10%;
    }

  }
  */

@media only screen and (max-width: 610px) {
  .btn-retour {
    padding-left: 20px;
    padding-right: 30px;
  }

  .nav {
    height: 200px;
  }

  h1 {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .operation{
    display: block;
  }
  

  .carte-restau,.restau-photo{
    width: 80vw;
  }
   
  .new-restau{
   
    right: 10px;
    top: 5%;
   
    position: absolute;
  }
    
  
  
  .endtext{
    flex-direction: column;
   
  }
  .endtext-propo-restau,.endtext-partenaire,.endtext-memtion,.endtext-contact{
    padding-top: 10px;
    padding-left: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
