@font-face{
  font-family:Shrikhand;
  src: url("/font/Shrikhand-Regular.otf") format("OpenType")
}
@font-face{
  font-family:"Robot-black";
  src: url("/font/Robot-black.ttf") format("truetype")
}
body {
  background: white;
  margin-left: 2%;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  font-family:"Shrikhand",arial,serif,sans-serif;
}

header {
  margin-bottom: 20px;
}

.header-logo {
  display: flex;
  justify-content: space-around;
}

.header-btn-retour {
  display: none;
}
.header-img-logo{
  padding-right: 40px;
}

.logo-food{
  height: 30px;
  width: 150px;
}

 


.presentation {
  background-color: #EEEAE9;
  border: 1px solid #EEEAE9;
  height: 250px;
}

.presentation-icone-saisie {
  text-align: center;
  background-color: #DBD6D5;
  border: solid 1px #DBD6D5;
}

#townsearch {
  border: none;
  background-color: transparent;
}

.presentation-recherche{
  text-align: center;
}

.presentation-btn-explorer {
  border-radius: 20px;
  background-color: #AD77C8;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.operation{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2,h3 {

  margin-left: 30px;
  font-size: 1rem;
  padding-top: 20px;
  font-family:"Shrikhand",arial,serif,sans-serif;
}


.btn-fct
{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color:#DBD6D5;
    width: 250px;
    height: 30px;
    margin-top: 10px;
    padding-left: 0px;
    margin-left: 40px;
    padding-top: 10px;
}
  .btn-fct-logo-texte
  {
    display: flex;
    width: 90%;
    justify-content: space-around;

  }
  .btn-fct-numer
  {
    border: 1px solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    position: relative;
    right: 10px;
}

  .fa-mobile-alt,.fa-list-ul
  {
    color:gray;
  }
  .fa-store
  {
    color: purple;
  }
  .restaurant{
    background-color:#DBD6D5;
    height: auto;
  }

  .choix-restau{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .carte-restau{
     
    background-color: white;
    height: 150px;
    width: 200px;
    margin: 4% 4%;
    border-radius:  20px 20px ;
    padding-bottom: 3em;
    border: 1px solid #ddd;
    text-align:left;
    box-shadow: 0 6px 6px #ddd ;
  }
  .nom-restau{
    display: flex;
    justify-content: space-around;
    
  }
 
  .ville-restau{
    padding-left: 20px;
  }
  .restau-photo{
    height: 150px;
    width: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .endtext{
    border:1px solid #F2F2F2;
    background-color: black;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    color: white;
  }
  .endtext-propo-restau,.endtext-partenaire,.endtext-memtion,.endtext-contact{
    padding-top: 35px;
  }
  .endtext-contact{
    padding-right: 20px;
    color: white;
  }

  @media only screen and (min-width:822px) and (max-width:1220px){
    .carte-restau{
      margin-left:10%;
      margin-right: 10%;
    }

  }
  

@media only screen and (max-width: 610px) {
  .btn-retour {
    padding-left: 20px;
    padding-right: 30px;
  }

  .nav {
    height: 200px;
  }

  h1 {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .operation{
    display: block;
  }
  
  .choix-restau{
    margin-left: 6%;
    justify-content:normal;
    
  }
  .endtext{
    flex-direction: column;
   
  }
  .endtext-propo-restau,.endtext-partenaire,.endtext-memtion,.endtext-contact{
    padding-top: 10px;
    padding-left: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
